:root.theme-dark {
  --rec-light-display: flex;
  --cover-image: url("../images/cover-image-dark.png");
  --title-color: var(--violet);
  --accent-color: rgb(var(--pink));
  --accent-color-opacity: rgb(var(--pink), 0.4);
  --page-bg-color: var(--black);
  --font-color: var(--rose);
  --header-accent-color: rgb(var(--pink));
  --main-title-color: rgb(var(--pink));
  --accent-font-color: var(--black);
}
