:root.theme-light {
  --rec-light-display: none;
  --cover-image: url("../images/cover-image-light.png");
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-opacity: rgb(50 49 45 / 0.4);
  --page-bg-color: #FFF1F7;
  --font-color: #353430;
  --header-accent-color: #353430;
  --main-title-color: #353430;
  --accent-font-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --rec-light-display: none;
    --cover-image: url("../images/cover-image-light.png");
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-opacity: rgb(50 49 45 / 0.4);
    --page-bg-color: #FFF1F7;
    --font-color: #353430;
    --header-accent-color: #353430;
    --main-title-color: #353430;
    --accent-font-color: #353430;
  }
}
